<div class="content">
  <div class="buttons">
    <button class="nav-btn" (click)="selectButton('orders')" [ngClass]="{ 'selected': selectedButton === 'orders' }">Orders</button>
    <button class="nav-btn" (click)="selectButton('products')" [ngClass]="{ 'selected': selectedButton === 'products' }">Products</button>
    <button class="nav-btn" (click)="selectButton('customers')" [ngClass]="{ 'selected': selectedButton === 'customers' }">Customers</button>
  </div>
  <div #contentContainer class="content-container"></div>
</div>





